.main {
    flex: 1;
    height: 100dvh;
    margin: 0 10% 0 10%;
}

.mainCard {
    height: max-content;
    background-color: #E3E1DC;
    border-radius: 15px;
    margin-top: 10px;
}

.kittenImage{
    width: 100%;
    background-image: url('../public/images/HeroImagemd.png');
    background-position: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-size: cover;
    background-repeat: no-repeat;
}

.mainInfo{
    width: 100%;
}

.catsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.collague {
    display: flex; 
    margin: 4rem;
}

@media only screen and (max-width: 1000px) {

    .main {
        margin-left: 5%;
        margin-right: 5%;
    }

    .mainCard {
        margin-top: 99px;
    }

    .kittenImage{
        background-image: url('../public/images/HeroImagesm.png');
        background-size: cover;
    }

    .collague {
        flex-direction: column;
        margin: 1rem 0 1rem 0;
    }
}