.title {
    display: flex;
    margin-top: 36px;
    margin-left: 10%;
    margin-right: 10%;
}

.main {
    flex: 1;
    height: 100dvh;
    margin-left: 10%;
    margin-right: 10%;
}

.mainCard {
    height: 1250px;
    background-color: #E3E1DC;
    border-radius: 15px;
    margin-top: 10px;
}

.kittenImage{
    height: 50%;
    width: 100%;
    background-image: url('../images/HeroImagemd.png');
    background-position: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-size: cover;
    background-repeat: no-repeat;
}

.mainInfo{
    height: 50%;
    width: 100%;
}

.catsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 400px) {

    .mainCard {
        position: absolute;
        width: 80%;
        height: 600px;
        background-color: #E3E1DC;
        border-radius: 15px;
        margin-top: 99px;
    }

    .kittenImage{
        height: auto;
        background-image: url('../images/HeroImagesm.png');
        background-size: cover;
    }
}