.button {
    border: 0;
    padding: 0;
    height: min-content;
    border-color: inherit;
}

.link {
    text-decoration: none;
    color: inherit;
    padding: 0rem 1rem;
}

.link:hover {
    background-color: inherit;
}

@media only screen and (max-width: 1000px) {

    .link {
        display: none;
    }
}